In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#ACTIVIDAD 2.2 (Extracción de Datos)

In [2]:
#Convertir en dataframe
df= pd.read_csv('NewOrleans.csv')
df

,Unnamed: 0,id,scrape_id,host_id,latitude,longitude,neighbourhood_cleansed,neighbourhood_group_cleansed,property_type,room_type,...,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,number_of_reviews_ly,reviews_per_month,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_communication,review_scores_location
0,0,19091,20250609011815,72880,29.961000,-90.119500,Leonidas,NaN,Entire rental unit,Entire home/apt,...,504,1,0,0,2.73,4.89,4.95,4.87,4.98,4.68
1,1,71624,20250609011815,367223,29.961530,-90.043640,Bywater,NaN,Entire rental unit,Entire home/apt,...,316,8,0,19,1.81,4.94,4.92,4.93,4.98,4.84
2,2,79536,20250609011815,428362,29.978030,-90.074500,Seventh Ward,NaN,Entire rental unit,Entire home/apt,...,781,50,0,54,4.54,4.90,4.94,4.95,4.98,4.55
3,3,79609,20250609011815,428909,29.964480,-90.036670,St. Claude,NaN,Entire guest suite,Entire home/apt,...,506,5,0,17,2.91,4.96,4.95,4.99,4.99,4.84
4,4,80869,20250609011815,437783,29.968110,-90.059050,Marigny,NaN,Private room in home,Private room,...,989,51,4,39,5.71,4.83,4.85,4.77,4.91,4.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7517,7517,1437001697822994540,20250609011815,533632,29.975010,-90.052740,St. Roch,NaN,Entire home,Entire home/apt,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7518,7518,1437105091795736568,20250609011815,573332412,29.943146,-90.083162,Central City,NaN,Entire home,Entire home/apt,...,1,1,1,0,1.00,5.00,5.00,5.00,5.00,5.00
7519,7519,1437122945389321569,20250609011815,659906641,29.966019,-90.067761,Treme - Lafitte,NaN,Entire home,Entire home/apt,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7520,7520,1437125024759901546,20250609011815,276892829,29.961450,-90.040630,Bywater,NaN,Entire townhouse,Entire home/apt,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7521,7521,1438449438056689667,20250609011815,112910785,29.970654,-90.069775,Seventh Ward,NaN,Entire rental unit,Entire home/apt,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

a) Los registros de 5 “host name” diferentes

In [51]:
#a) Los registros de 5 “host name” diferentes
cinco_hosts = df["property_type"].unique()
cinco_hosts
#a_result = df[df["property_type"].isin(cinco_hosts)]
#a_result.head()

array(['Entire rental unit', 'Entire guest suite', 'Private room in home',
       'Room in boutique hotel', 'Entire townhouse', 'Entire home',
       'Entire guesthouse', 'Private room in guest suite', 'Entire condo',
       'Private room in rental unit', 'Entire bungalow',
       'Private room in bed and breakfast', 'Entire cottage',
       'Private room in hostel', 'Entire loft',
       'Private room in guesthouse', 'Entire resort', 'Room in hotel',
       'Private room in condo', 'Religious building',
       'Private room in bungalow', 'Tiny home', 'Shared room in home',
       'Private room in townhouse', 'Entire serviced apartment',
       'Entire villa', 'Private room in earthen home',
       'Private room in farm stay', 'Entire place',
       'Entire vacation home', 'Room in bed and breakfast',
       'Private room in resort', 'Private room in loft',
       'Private room in cottage', 'Private room', 'Houseboat',
       'Camper/RV', 'Private room in houseboat', 'Shared room in hostel',
       'Room in aparthotel', 'Castle', 'Shipping container',
       'Shared room in hotel', 'Casa particular', 'Boat',
       'Private room in tower', 'Barn'], dtype=object)

In [52]:
# Elige 5 tipos de propiedad específicos manualmente
tipos_elegidos = ["Entire rental unit", "Entire guest suite", "Private room in home", "Room in boutique hotel", "Entire townhouse"] 

# Filtra el DataFrame para mostrar solo las observaciones que coincidan con esos tipos
a_result = df[df["property_type"].isin(tipos_elegidos)]

# Muestra todas las observaciones filtradas (no solo .head())
a_result

,Unnamed: 0,id,scrape_id,host_id,latitude,longitude,neighbourhood_cleansed,neighbourhood_group_cleansed,property_type,room_type,...,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,number_of_reviews_ly,reviews_per_month,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_communication,review_scores_location
0,0,19091,20250609011815,72880,29.961000,-90.119500,Leonidas,NaN,Entire rental unit,Entire home/apt,...,504,1,0,0,2.73,4.89,4.95,4.87,4.98,4.68
1,1,71624,20250609011815,367223,29.961530,-90.043640,Bywater,NaN,Entire rental unit,Entire home/apt,...,316,8,0,19,1.81,4.94,4.92,4.93,4.98,4.84
2,2,79536,20250609011815,428362,29.978030,-90.074500,Seventh Ward,NaN,Entire rental unit,Entire home/apt,...,781,50,0,54,4.54,4.90,4.94,4.95,4.98,4.55
3,3,79609,20250609011815,428909,29.964480,-90.036670,St. Claude,NaN,Entire guest suite,Entire home/apt,...,506,5,0,17,2.91,4.96,4.95,4.99,4.99,4.84
4,4,80869,20250609011815,437783,29.968110,-90.059050,Marigny,NaN,Private room in home,Private room,...,989,51,4,39,5.71,4.83,4.85,4.77,4.91,4.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7509,7509,1435492935919697537,20250609011815,694267395,29.947285,-90.072003,Central Business District,NaN,Entire rental unit,Entire home/apt,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7510,7510,1435580993598325456,20250609011815,1261366,29.945724,-90.129991,East Carrollton,NaN,Private room in home,Private room,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7512,7512,1435785275791016929,20250609011815,157585300,29.969499,-90.066517,Seventh Ward,NaN,Entire rental unit,Entire home/apt,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7520,7520,1437125024759901546,20250609011815,276892829,29.961450,-90.040630,Bywater,NaN,Entire townhouse,Entire home/apt,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7521,7521,1438449438056689667,20250609011815,112910785,29.970654,-90.069775,Seventh Ward,NaN,Entire rental unit,Entire home/apt,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
#Analizar categorias de una columna
df1 = a_result.groupby(['property_type'])['property_type'].count()
df1

property_type
Entire guest suite         174
Entire rental unit        1929
Entire townhouse           181
Private room in home       319
Room in boutique hotel      77
Name: property_type, dtype: int64

In [64]:
f1=a_result.to_csv("f1.csv", index=False)

b) Los registros de los host que se hallan unido a Airbnb “despues del año 2020”

In [57]:
# b) Host_since > 2020
df["host_since"] = pd.to_datetime(df["host_since"], errors="coerce")
b_result = df[df["host_since"] >= '2021-01-01']
b_result

,Unnamed: 0,id,scrape_id,host_id,latitude,longitude,neighbourhood_cleansed,neighbourhood_group_cleansed,property_type,room_type,...,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,number_of_reviews_ly,reviews_per_month,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_communication,review_scores_location
347,347,7871923,20250609011815,459131117,29.966570,-90.056040,Marigny,NaN,Room in boutique hotel,Private room,...,44,7,0,11,0.37,4.98,4.95,4.95,4.93,4.93
349,349,7895616,20250609011815,459131117,29.966790,-90.058030,Marigny,NaN,Room in boutique hotel,Hotel room,...,39,4,1,3,0.35,4.92,4.90,4.87,4.97,4.92
350,350,7921540,20250609011815,459131117,29.966670,-90.057600,Marigny,NaN,Room in boutique hotel,Private room,...,62,19,1,25,0.52,4.97,4.97,4.95,4.98,4.97
368,368,8426658,20250609011815,459131117,29.967960,-90.055950,Marigny,NaN,Room in boutique hotel,Hotel room,...,64,3,0,4,0.55,4.89,4.94,4.89,4.91,4.92
369,369,8426840,20250609011815,459131117,29.966850,-90.056400,Marigny,NaN,Room in boutique hotel,Private room,...,70,5,0,5,0.60,4.90,4.91,4.84,4.96,4.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7514,7514,1436469633680922919,20250609011815,599144508,29.950513,-90.067687,Central Business District,NaN,Room in hotel,Private room,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7515,7515,1436556906565678527,20250609011815,482286586,29.956300,-90.130710,Leonidas,NaN,Entire home,Entire home/apt,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7516,7516,1436999105665762091,20250609011815,442924771,29.938155,-90.078417,Central City,NaN,Entire condo,Entire home/apt,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7518,7518,1437105091795736568,20250609011815,573332412,29.943146,-90.083162,Central City,NaN,Entire home,Entire home/apt,...,1,1,1,0,1.00,5.00,5.00,5.00,5.00,5.00
7519,7519,1437122945389321569,20250609011815,659906641,29.966019,-90.067761,Treme - Lafitte,NaN,Entire home,Entire home/apt,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7522 entries, 0 to 7521
Data columns (total 51 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    7522 non-null   int64
 1   id                            7522 non-null   int64
 2   scrape_id                     7522 non-null   int64
 3   host_id                       7522 non-null   int64
 4   latitude                      7522 non-null   float64
 5   longitude                     7522 non-null   float64
 6   neighbourhood_cleansed        7522 non-null   object
 7   neighbourhood_group_cleansed  0 non-null      float64
 8   property_type                 7522 non-null   object
 9   room_type                     7522 non-null   object
 10  host_since                    7522 non-null   datetime64[ns]
 11  host_location                 5192 non-null   object
 12  host_response_time            5841 non-null   object
 13  host_response_rate            5841 non-null   object
 14  host_acceptance_rate          6308 non-null   object
 15  host_is_superhost             7257 non-null   object
 16  host_listings_count           7522 non-null   int64
 17  host_total_listings_count     7522 non-null   int64
 18  host_has_profile_pic          7522 non-null   object
 19  host_identity_verified        7522 non-null   object
 20  accommodates                  7522 non-null   int64
 21  bathrooms                     6385 non-null   float64
 22  bathrooms_text                7503 non-null   object
 23  bedrooms                      7359 non-null   float64
 24  beds                          6365 non-null   float64
 25  amenities                     7522 non-null   object
 26  price                         6373 non-null   object
 27  minimum_nights                7522 non-null   int64
 28  maximum_nights                7522 non-null   int64
 29  minimum_minimum_nights        7522 non-null   int64
 30  maximum_minimum_nights        7522 non-null   int64
 31  minimum_maximum_nights        7522 non-null   int64
 32  maximum_maximum_nights        7522 non-null   int64
 33  minimum_nights_avg_ntm        7522 non-null   float64
 34  maximum_nights_avg_ntm        7522 non-null   float64
 35  has_availability              7258 non-null   object
 36  availability_30               7522 non-null   int64
 37  availability_60               7522 non-null   int64
 38  availability_90               7522 non-null   int64
 39  availability_365              7522 non-null   int64
 40  availability_eoy              7522 non-null   int64
 41  number_of_reviews             7522 non-null   int64
 42  number_of_reviews_ltm         7522 non-null   int64
 43  number_of_reviews_l30d        7522 non-null   int64
 44  number_of_reviews_ly          7522 non-null   int64
 45  reviews_per_month             6307 non-null   float64
 46  review_scores_rating          6307 non-null   float64
 47  review_scores_accuracy        6305 non-null   float64
 48  review_scores_cleanliness     6307 non-null   float64
 49  review_scores_communication   6307 non-null   float64
 50  review_scores_location        6306 non-null   float64
dtypes: datetime64[ns](1), float64(14), int64(22), object(14)
memory usage: 2.9+ MB

In [59]:
df2 = b_result.groupby(['host_since'])['host_since'].count()
df2

host_since
2021-01-03     2
2021-01-07     4
2021-01-11     1
2021-01-14     1
2021-01-21     4
              ..
2025-05-07    12
2025-05-09     1
2025-05-13     1
2025-05-16     2
2025-05-23     1
Name: host_since, Length: 524, dtype: int64

In [65]:
f2=b_result.to_csv("f2.csv", index=False)

c) Los registros de los host que responden “a más tardar en 1 día”

In [61]:
df3 = df.groupby(['host_response_time'])['host_response_time'].count()
df3

host_response_time
a few days or more      34
within a day           229
within a few hours     397
within an hour        5181
Name: host_response_time, dtype: int64

In [62]:
# c) Respuesta rápida (en 1 día o menos)
rapidas = ["within an hour", "within a few hours", "within a day"]
c_result = df[df["host_response_time"].str.lower().isin(rapidas)]
c_result

,Unnamed: 0,id,scrape_id,host_id,latitude,longitude,neighbourhood_cleansed,neighbourhood_group_cleansed,property_type,room_type,...,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,number_of_reviews_ly,reviews_per_month,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_communication,review_scores_location
0,0,19091,20250609011815,72880,29.961000,-90.119500,Leonidas,NaN,Entire rental unit,Entire home/apt,...,504,1,0,0,2.73,4.89,4.95,4.87,4.98,4.68
2,2,79536,20250609011815,428362,29.978030,-90.074500,Seventh Ward,NaN,Entire rental unit,Entire home/apt,...,781,50,0,54,4.54,4.90,4.94,4.95,4.98,4.55
4,4,80869,20250609011815,437783,29.968110,-90.059050,Marigny,NaN,Private room in home,Private room,...,989,51,4,39,5.71,4.83,4.85,4.77,4.91,4.72
5,5,84725,20250609011815,85132,29.936080,-90.079970,Central City,NaN,Room in boutique hotel,Private room,...,5,0,0,0,0.03,3.67,4.50,5.00,4.25,4.75
7,7,183207,20250609011815,437783,29.968110,-90.059050,Marigny,NaN,Private room in home,Private room,...,920,45,0,42,5.51,4.84,4.83,4.78,4.90,4.69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7516,7516,1436999105665762091,20250609011815,442924771,29.938155,-90.078417,Central City,NaN,Entire condo,Entire home/apt,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7518,7518,1437105091795736568,20250609011815,573332412,29.943146,-90.083162,Central City,NaN,Entire home,Entire home/apt,...,1,1,1,0,1.00,5.00,5.00,5.00,5.00,5.00
7519,7519,1437122945389321569,20250609011815,659906641,29.966019,-90.067761,Treme - Lafitte,NaN,Entire home,Entire home/apt,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7520,7520,1437125024759901546,20250609011815,276892829,29.961450,-90.040630,Bywater,NaN,Entire townhouse,Entire home/apt,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7521,7521,1438449438056689667,20250609011815,112910785,29.970654,-90.069775,Seventh Ward,NaN,Entire rental unit,Entire home/apt,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
f3=c_result.to_csv("f3.csv", index=False)

d) Los registros de las filas “Múltiplos de 200… (400, 600, 800, etc.)”

In [67]:
#Filas incrementales en un fator
filas= df.iloc[0::200,:] #Filas con incrementos de 100 a partir de la fila 0 
filas

,Unnamed: 0,id,scrape_id,host_id,latitude,longitude,neighbourhood_cleansed,neighbourhood_group_cleansed,property_type,room_type,...,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,number_of_reviews_ly,reviews_per_month,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_communication,review_scores_location
0,0,19091,20250609011815,72880,29.961000,-90.119500,Leonidas,NaN,Entire rental unit,Entire home/apt,...,504,1,0,0,2.73,4.89,4.95,4.87,4.98,4.68
200,200,3774603,20250609011815,85132,29.934030,-90.081370,Central City,NaN,Room in boutique hotel,Private room,...,2,0,0,0,0.03,5.00,5.00,5.00,5.00,5.00
400,400,9255399,20250609011815,2775826,29.971436,-90.073509,Treme - Lafitte,NaN,Private room in guesthouse,Private room,...,5,2,0,1,0.04,5.00,5.00,5.00,5.00,5.00
600,600,13744419,20250609011815,80480972,29.936750,-90.102190,Milan,NaN,Entire condo,Entire home/apt,...,41,0,0,0,0.40,4.83,4.90,4.73,5.00,4.93
800,800,16718674,20250609011815,76836055,29.950980,-90.104030,Broadmoor,NaN,Entire guest suite,Entire home/apt,...,234,0,0,0,2.31,4.88,4.88,4.89,4.91,4.75
1000,1000,19408710,20250609011815,136066012,29.962930,-90.081120,Tulane - Gravier,NaN,Entire home,Entire home/apt,...,219,26,0,32,2.31,4.95,4.92,4.91,4.94,4.60
1200,1200,22386918,20250609011815,163630059,29.929090,-90.105370,Uptown,NaN,Entire home,Entire home/apt,...,208,41,3,46,2.29,4.88,4.92,4.86,4.93,4.95
1400,1400,24656644,20250609011815,176655337,29.955920,-90.015790,Holy Cross,NaN,Private room in home,Private room,...,30,0,0,0,0.35,4.62,4.80,4.60,4.90,4.57
1600,1600,28783893,20250609011815,5368896,29.921150,-90.117810,West Riverside,NaN,Entire home,Entire home/apt,...,1,0,0,0,0.01,5.00,5.00,5.00,5.00,5.00
1800,1800,32073810,20250609011815,240536821,29.965690,-90.070300,Treme - Lafitte,NaN,Entire home,Entire home/apt,...,88,0,0,0,1.14,4.36,4.44,4.49,4.53,4.28
2000,2000,35319968,20250609011815,12427699,29.962640,-90.034690,Bywater,NaN,Entire rental unit,Entire home/apt,...,21,0,0,0,0.29,5.00,5.00,5.00,4.95,4.81
2200,2200,39242896,20250609011815,41661300,29.924260,-90.082960,Irish Channel,NaN,Entire condo,Entire home/apt,...,18,0,0,0,0.26,4.78,4.89,4.28,4.94,4.94
2400,2400,41433613,20250609011815,64365837,29.921030,-90.108930,Uptown,NaN,Entire rental unit,Entire home/apt,...,155,38,2,29,2.35,4.93,4.97,4.88,4.97,4.99
2600,2600,45075176,20250609011815,342910048,29.942760,-90.068970,Lower Garden District,NaN,Entire rental unit,Entire home/apt,...,85,4,0,11,1.46,4.84,4.82,4.87,4.94,4.82
2800,2800,48371126,20250609011815,383432052,29.968760,-90.081270,Treme - Lafitte,NaN,Entire home,Entire home/apt,...,44,0,0,0,0.85,4.80,4.75,4.80,4.93,4.70
3000,3000,51153020,20250609011815,267363527,29.934155,-90.093971,Milan,NaN,Entire villa,Entire home/apt,...,60,8,0,9,1.26,4.73,4.75,4.78,4.90,4.33
3200,3200,53611877,20250609011815,433696318,29.965560,-90.044680,St. Claude,NaN,Private room in bed and breakfast,Private room,...,34,11,1,6,0.79,5.00,4.97,4.97,5.00,4.97
3400,3400,557798675625812715,20250609011815,442920751,29.934700,-90.106720,Freret,NaN,Entire condo,Entire home/apt,...,38,10,0,10,1.06,4.68,4.87,4.82,4.89,4.87
3600,3600,591924404931690277,20250609011815,290355593,29.977160,-90.077970,Fairgrounds,NaN,Entire home,Entire home/apt,...,77,13,0,19,2.01,4.82,4.84,4.75,4.90,4.75
3800,3800,655958559815449038,20250609011815,370734277,29.963180,-90.060790,French Quarter,NaN,Room in boutique hotel,Private room,...,60,17,1,14,1.70,4.80,4.85,4.85,4.88,5.00
4000,4000,707916541638355950,20250609011815,442029804,29.934921,-90.080256,Central City,NaN,Entire condo,Entire home/apt,...,1,0,0,0,0.03,5.00,5.00,5.00,5.00,5.00
4200,4200,752070091934076829,20250609011815,484507462,29.947433,-90.069888,Central Business District,NaN,Entire rental unit,Entire home/apt,...,363,91,8,65,8.09,4.79,4.82,4.78,4.86,4.92
4400,4400,812553733278182648,20250609011815,127443394,29.938389,-90.098741,Milan,NaN,Entire home,Entire home/apt,...,52,17,1,23,1.85,4.98,5.00,4.98,4.98,4.69
4600,4600,853908256148403224,20250609011815,424156658,29.967170,-90.064750,Seventh Ward,NaN,Private room in home,Private room,...,37,8,0,15,1.44,4.86,4.78,4.84,4.92,4.41
4800,4800,920227529306616660,20250609011815,501999514,29.944090,-90.068290,Lower Garden District,NaN,Room in hotel,Hotel room,...,65,64,0,39,2.91,4.48,4.55,4.62,4.57,4.55
5000,5000,969391201586291830,20250609011815,442915263,29.954548,-90.074353,Central Business District,NaN,Entire condo,Entire home/apt,...,51,35,1,33,2.53,4.75,4.75,4.78,4.75,4.65
5200,5200,1015281320944675843,20250609011815,541716509,29.941560,-90.069660,Lower Garden District,NaN,Entire rental unit,Entire home/apt,...,18,9,0,12,0.93,4.67,4.89,4.89,4.78,4.78
5400,5400,1057325439446175003,20250609011815,395417840,29.946950,-90.070280,Central Business District,NaN,Entire condo,Entire home/apt,...,24,10,0,21,1.46,4.75,4.79,4.58,4.71,4.96
5600,5600,1095231181112014032,20250609011815,12320852,29.962611,-90.077758,Tulane - Gravier,NaN,Private room in home,Private room,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5800,5800,1133622255806940003,20250609011815,551287603,29.934977,-90.094122,Milan,NaN,Entire rental unit,Entire home/apt,...,11,11,0,8,0.99,4.27,4.36,4.36,4.73,4.09
6000,6000,1176969942249017603,20250609011815,52807584,29.964640,-90.034580,St. Claude,NaN,Entire rental unit,Entire home/apt,...,33,32,2,13,2.70,4.94,4.85,4.94,5.00,4.76
6200,6200,1210205994766606624,20250609011815,136807475,29.989400,-90.060073,St. Roch,NaN,Entire home,Entire home/apt,...,36,36,7,15,3.91,4.86,4.86,4.86,4.83,4.47
6400,6400,1248151321149729894,20250609011815,116559029,29.959751,-90.111626,Gert Town,NaN,Entire home,Entire home/apt,...,21,21,4,9,2.54,5.00,5.00,5.00,5.00,4.90
6600,6600,1281104996458719652,20250609011815,569220605,29.966379,-90.039289,St. Claude,NaN,Room in hotel,Private room,...,2,2,0,1,0.30,5.00,5.00,5.00,5.00,5.00
6800,6800,1311094692897469727,20250609011815,126429224,30.006191,-90.037046,Gentilly Woods,NaN,Entire home,Entire home/apt,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7000,7000,1342356164358521679,20250609011815,134182959,29.952610,-90.044920,Whitney,NaN,Entire home,Entire home/apt,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7200,7200,1355051241299986505,20250609011815,104250639,29.926078,-90.079806,Irish Channel,NaN,Entire rental unit,Entire home/apt,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7400,7400,1412804150807659600,20250609011815,442924771,29.951142,-90.067766,Central Business District,NaN,Entire condo,Entire home/apt,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
f4=filas.to_csv("f4.csv", index=False)

e) Los registros de los tipos de cuarto: “Entire home” y “Private room”

In [69]:
df4 = df.groupby(['room_type'])['room_type'].count()
df4

room_type
Entire home/apt    6474
Hotel room          117
Private room        924
Shared room           7
Name: room_type, dtype: int64

In [70]:
# e) Filtrar tipos de cuarto específicos
permitidos = ["entire home/apt", "private room"]
e_result = df[df["room_type"].str.lower().isin(permitidos)]
e_result

,Unnamed: 0,id,scrape_id,host_id,latitude,longitude,neighbourhood_cleansed,neighbourhood_group_cleansed,property_type,room_type,...,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,number_of_reviews_ly,reviews_per_month,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_communication,review_scores_location
0,0,19091,20250609011815,72880,29.961000,-90.119500,Leonidas,NaN,Entire rental unit,Entire home/apt,...,504,1,0,0,2.73,4.89,4.95,4.87,4.98,4.68
1,1,71624,20250609011815,367223,29.961530,-90.043640,Bywater,NaN,Entire rental unit,Entire home/apt,...,316,8,0,19,1.81,4.94,4.92,4.93,4.98,4.84
2,2,79536,20250609011815,428362,29.978030,-90.074500,Seventh Ward,NaN,Entire rental unit,Entire home/apt,...,781,50,0,54,4.54,4.90,4.94,4.95,4.98,4.55
3,3,79609,20250609011815,428909,29.964480,-90.036670,St. Claude,NaN,Entire guest suite,Entire home/apt,...,506,5,0,17,2.91,4.96,4.95,4.99,4.99,4.84
4,4,80869,20250609011815,437783,29.968110,-90.059050,Marigny,NaN,Private room in home,Private room,...,989,51,4,39,5.71,4.83,4.85,4.77,4.91,4.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7517,7517,1437001697822994540,20250609011815,533632,29.975010,-90.052740,St. Roch,NaN,Entire home,Entire home/apt,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7518,7518,1437105091795736568,20250609011815,573332412,29.943146,-90.083162,Central City,NaN,Entire home,Entire home/apt,...,1,1,1,0,1.00,5.00,5.00,5.00,5.00,5.00
7519,7519,1437122945389321569,20250609011815,659906641,29.966019,-90.067761,Treme - Lafitte,NaN,Entire home,Entire home/apt,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7520,7520,1437125024759901546,20250609011815,276892829,29.961450,-90.040630,Bywater,NaN,Entire townhouse,Entire home/apt,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7521,7521,1438449438056689667,20250609011815,112910785,29.970654,-90.069775,Seventh Ward,NaN,Entire rental unit,Entire home/apt,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
f5=e_result.to_csv("f5.csv", index=False)

f) Los registros que “a lo mucho cuenten con 4 camas”

In [72]:
df5 = df.groupby(['beds'])['beds'].count()
df5

beds
0.0       60
1.0     1481
2.0     1843
3.0     1182
4.0      706
5.0      359
6.0      305
7.0      145
8.0      103
9.0       44
10.0      56
11.0      15
12.0      16
13.0      12
14.0       7
15.0       6
16.0       5
17.0       6
18.0       2
20.0       3
21.0       2
22.0       3
26.0       1
31.0       1
32.0       1
55.0       1
Name: beds, dtype: int64

In [73]:
# f) Filtro por número de camas
df["beds"] = pd.to_numeric(df["beds"], errors="coerce")
f_result = df[df["beds"] <= 4]
f_result

,Unnamed: 0,id,scrape_id,host_id,latitude,longitude,neighbourhood_cleansed,neighbourhood_group_cleansed,property_type,room_type,...,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,number_of_reviews_ly,reviews_per_month,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_communication,review_scores_location
0,0,19091,20250609011815,72880,29.961000,-90.119500,Leonidas,NaN,Entire rental unit,Entire home/apt,...,504,1,0,0,2.73,4.89,4.95,4.87,4.98,4.68
1,1,71624,20250609011815,367223,29.961530,-90.043640,Bywater,NaN,Entire rental unit,Entire home/apt,...,316,8,0,19,1.81,4.94,4.92,4.93,4.98,4.84
3,3,79609,20250609011815,428909,29.964480,-90.036670,St. Claude,NaN,Entire guest suite,Entire home/apt,...,506,5,0,17,2.91,4.96,4.95,4.99,4.99,4.84
4,4,80869,20250609011815,437783,29.968110,-90.059050,Marigny,NaN,Private room in home,Private room,...,989,51,4,39,5.71,4.83,4.85,4.77,4.91,4.72
5,5,84725,20250609011815,85132,29.936080,-90.079970,Central City,NaN,Room in boutique hotel,Private room,...,5,0,0,0,0.03,3.67,4.50,5.00,4.25,4.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7514,7514,1436469633680922919,20250609011815,599144508,29.950513,-90.067687,Central Business District,NaN,Room in hotel,Private room,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7515,7515,1436556906565678527,20250609011815,482286586,29.956300,-90.130710,Leonidas,NaN,Entire home,Entire home/apt,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7517,7517,1437001697822994540,20250609011815,533632,29.975010,-90.052740,St. Roch,NaN,Entire home,Entire home/apt,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7518,7518,1437105091795736568,20250609011815,573332412,29.943146,-90.083162,Central City,NaN,Entire home,Entire home/apt,...,1,1,1,0,1.00,5.00,5.00,5.00,5.00,5.00
7521,7521,1438449438056689667,20250609011815,112910785,29.970654,-90.069775,Seventh Ward,NaN,Entire rental unit,Entire home/apt,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
f6=f_result.to_csv("f6.csv", index=False)

g) Los registros que “sean superhost”

In [75]:
df6 = df.groupby(['host_is_superhost'])['host_is_superhost'].count()
df6

host_is_superhost
f    4032
t    3225
Name: host_is_superhost, dtype: int64

In [76]:
# g) Filtro por superhost
g_result = df[df["host_is_superhost"] == "t"]   # o True si ya está como boolean
g_result

,Unnamed: 0,id,scrape_id,host_id,latitude,longitude,neighbourhood_cleansed,neighbourhood_group_cleansed,property_type,room_type,...,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,number_of_reviews_ly,reviews_per_month,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_communication,review_scores_location
1,1,71624,20250609011815,367223,29.961530,-90.043640,Bywater,NaN,Entire rental unit,Entire home/apt,...,316,8,0,19,1.81,4.94,4.92,4.93,4.98,4.84
2,2,79536,20250609011815,428362,29.978030,-90.074500,Seventh Ward,NaN,Entire rental unit,Entire home/apt,...,781,50,0,54,4.54,4.90,4.94,4.95,4.98,4.55
3,3,79609,20250609011815,428909,29.964480,-90.036670,St. Claude,NaN,Entire guest suite,Entire home/apt,...,506,5,0,17,2.91,4.96,4.95,4.99,4.99,4.84
4,4,80869,20250609011815,437783,29.968110,-90.059050,Marigny,NaN,Private room in home,Private room,...,989,51,4,39,5.71,4.83,4.85,4.77,4.91,4.72
7,7,183207,20250609011815,437783,29.968110,-90.059050,Marigny,NaN,Private room in home,Private room,...,920,45,0,42,5.51,4.84,4.83,4.78,4.90,4.69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7484,7484,1431233258464116500,20250609011815,459989161,29.916337,-90.108516,West Riverside,NaN,Entire home,Entire home/apt,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7505,7505,1435029403064853856,20250609011815,459989161,29.968914,-90.077170,Treme - Lafitte,NaN,Entire home,Entire home/apt,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7519,7519,1437122945389321569,20250609011815,659906641,29.966019,-90.067761,Treme - Lafitte,NaN,Entire home,Entire home/apt,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7520,7520,1437125024759901546,20250609011815,276892829,29.961450,-90.040630,Bywater,NaN,Entire townhouse,Entire home/apt,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7521,7521,1438449438056689667,20250609011815,112910785,29.970654,-90.069775,Seventh Ward,NaN,Entire rental unit,Entire home/apt,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
f7=g_result.to_csv("f7.csv", index=False)

h) Los registros de las columnas “impares”

In [78]:
# h) Columnas en posiciones impares (1, 3, 5…)
#MÉTODO 1
odd_cols = [col for i, col in enumerate(df.columns, start=0) if i % 2 == 1]
h_result = df[odd_cols]
h_result.head()

,id,host_id,longitude,neighbourhood_group_cleansed,room_type,host_location,host_response_rate,host_is_superhost,host_total_listings_count,host_identity_verified,...,minimum_maximum_nights,minimum_nights_avg_ntm,has_availability,availability_60,availability_365,number_of_reviews,number_of_reviews_l30d,reviews_per_month,review_scores_accuracy,review_scores_communication
0,19091,72880,-90.11950,NaN,Entire home/apt,"New Orleans, LA",100%,f,1,t,...,365,1.0,t,19,288,504,0,2.73,4.95,4.98
1,71624,367223,-90.04364,NaN,Entire home/apt,"New Orleans, LA",NaN,t,2,t,...,1125,30.0,t,60,356,316,0,1.81,4.92,4.98
2,79536,428362,-90.07450,NaN,Entire home/apt,"New Orleans, LA",100%,t,1,t,...,29,3.0,t,8,8,781,0,4.54,4.94,4.98
3,79609,428909,-90.03667,NaN,Entire home/apt,"New Orleans, LA",NaN,t,1,t,...,91,30.0,t,57,356,506,0,2.91,4.95,4.99
4,80869,437783,-90.05905,NaN,Private room,"New Orleans, LA",100%,t,3,t,...,1125,1.0,t,37,210,989,4,5.71,4.85,4.91

In [79]:
#Columnas incrementales en un fator
#MÉTODO 2
columnas= df.iloc[:, 1::2] #Columnas con incrementos de 2 a partir de la columna 1
columnas

,id,host_id,longitude,neighbourhood_group_cleansed,room_type,host_location,host_response_rate,host_is_superhost,host_total_listings_count,host_identity_verified,...,minimum_maximum_nights,minimum_nights_avg_ntm,has_availability,availability_60,availability_365,number_of_reviews,number_of_reviews_l30d,reviews_per_month,review_scores_accuracy,review_scores_communication
0,19091,72880,-90.119500,NaN,Entire home/apt,"New Orleans, LA",100%,f,1,t,...,365,1.0,t,19,288,504,0,2.73,4.95,4.98
1,71624,367223,-90.043640,NaN,Entire home/apt,"New Orleans, LA",NaN,t,2,t,...,1125,30.0,t,60,356,316,0,1.81,4.92,4.98
2,79536,428362,-90.074500,NaN,Entire home/apt,"New Orleans, LA",100%,t,1,t,...,29,3.0,t,8,8,781,0,4.54,4.94,4.98
3,79609,428909,-90.036670,NaN,Entire home/apt,"New Orleans, LA",NaN,t,1,t,...,91,30.0,t,57,356,506,0,2.91,4.95,4.99
4,80869,437783,-90.059050,NaN,Private room,"New Orleans, LA",100%,t,3,t,...,1125,1.0,t,37,210,989,4,5.71,4.85,4.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7517,1437001697822994540,533632,-90.052740,NaN,Entire home/apt,"New Orleans, LA",NaN,f,1,t,...,90,35.0,NaN,53,358,0,0,NaN,NaN,NaN
7518,1437105091795736568,573332412,-90.083162,NaN,Entire home/apt,NaN,100%,f,6,t,...,365,2.0,t,40,283,1,1,1.00,5.00,5.00
7519,1437122945389321569,659906641,-90.067761,NaN,Entire home/apt,NaN,100%,t,6,t,...,1125,6.8,t,16,308,0,0,NaN,NaN,NaN
7520,1437125024759901546,276892829,-90.040630,NaN,Entire home/apt,NaN,100%,t,387,t,...,1125,2.3,t,43,347,0,0,NaN,NaN,NaN
7521,1438449438056689667,112910785,-90.069775,NaN,Entire home/apt,"New Orleans, LA",99%,t,244,t,...,361,30.0,t,31,336,0,0,NaN,NaN,NaN

In [80]:
f8=columnas.to_csv("f8.csv", index=False)